*{
  box-sizing: border-box;
}
body{
  background-color: #AFD4C0;
  display: flex;
  justify-content: center;

}
.login-div{
  background-color: white;
  width: 55vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo{
  background-image: url("../assets/auth_logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 255px;
  width: 220px;
  /* margin-bottom: 15px; */
}
.inputs{
  display: flex;
  flex-direction: column;
}

.inputs label{
  font-size: 1.7em;
  letter-spacing: .02em;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.inputs input{
  height: 40px;
  width: 40vw;
  border: 1px solid #519872;
 
}

.button-container{
  margin: 40px;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-container button {
  margin: 20px;
  margin-top:0px;
  padding: 15px;
  width: 170px;
  font-size: 1.1em;
  font-weight: bold;
}

.login{
  background-color:#8AEA92;
  border: #8AEA92;
}

.register{
  background-color:#3B5249;
  border: #3B5249;
  color: white;
}

@media(max-width: 1000px){
  .login-div{
    width: 80vw;
  }
}

@media(max-width: 700px){
  .button-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
